If Elif and Else statements

keywods:

if
elif
else

Control Flow syntax makes use of colons and indentation (whitespace)

indentation system is absolutely crucial to Python
    this indentation system is what makes python easily readable
    
   Syntax of an if statement:
   
if some_condition:
    execute_this_code
elif some_othercondition:
    execute_something_else
else:
    do_something_else

In [2]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
if 3 > 2:
    print('ITS TRUE!')

ITS TRUE!

In [4]:
hungry = True

if hungry:
    print('feed me')

feed me

In [5]:
hungry = False

if hungry:
    print('feed me')
else:
    print("I'm full")

I'm full

In [6]:
# discussing multiple branches in control flow:

location = 'Bank'

if location == 'Auto Shop':
    print('you are at the auto shop')
else:
    print('you are not at a bank')

you are not at a bank

In [7]:
location = 'Bank'

if location == 'Auto Shop':
    print('you are at the auto shop')
elif location == 'Bank':
    print("I'm at the bank")
else:
    print('you are not at a bank')

I'm at the bank

In [8]:
name = 'Sammy'

if name =='Frankie':
    print('Hello Frankie')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('who are you')

Hello Sammy

FOR LOOPS:
    
    MANY OBJECTS IN PYTHON ARE "ITERABLE"
    
        ITERABLE MEANS WE CAN ITERATE OVER EVERY ELEMENT IN THE OBJECT
        
        SUCH AS EVERY ELEMENT INA. LIST OR EVERY CHARACTER IN A STRING
        
        WE CAN USE LOOPS TO EXECUTE A BLOCK OF CODE FOR EVERY ITERATION

In [9]:
# SYNTAX OF A FOR LOOP:

my_iterable = [1,2,3]
# this iterable could be any other iterable object, not just a list

for item_name in my_iterable:
    print(item_name)

1
2
3

In [10]:
# example for loops:

mylist = [1,2,3,4,5,6,7,8,9,10]

In [11]:
for number in mylist:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [12]:
for x in mylist:
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [13]:
for num in mylist:
#     check for even
    if num % 2 == 0:
        print(num)
        
"""
so % 2 is asking what the remainder is when you divide by 2, if it's 0 then it's an even number
"""

2
4
6
8
10

"\nso % 2 is asking what the remainder is when you divide by 2, if it's 0 then it's an even number\n"

In [14]:
for num in mylist:
#     check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [15]:
# common idea with for loops is keeping a running tally while iterating throuw loops
# this version gives you total at end of iteration

list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [16]:
# this version gives you total throughout the iteration
# great exampl;e of why indetation and white space are so important

list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
# could also go direct without using a variable:

for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [19]:
#  a great syntax for when you iterate through but fdon;t intend to use the variable name given to your iterating variabel: is to use an _

for _ in 'Use an Underscore':
    print('good methodology')

good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology
good methodology

In [20]:
tup = (1, 2, 3)

for item in tup:
    print(item)

1
2
3

In [21]:
# tuple unpacking,tuples have a special quality regarding forloops
# when iterating through a sequence that contains itself tuples, the item can be used with tuple unpacking

mylist = [(1,2), (3,4), (5,6), (7, 8)]

In [22]:
len(mylist)

4

In [23]:
for x in mylist:
    print(x)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [24]:
# tuples inside of a list are extreemyl common
# this is because of tuple unpacking, shown in this cell:

# THIS IS TUPLE UNPACKING:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [25]:
# another example of tuple unpacking:

newlist = [(1,2,3), (5,6,7), (8,9,10)]

for a,b,c in newlist:
    print(a)
    print(b)
    print(c)

1
2
3
5
6
7
8
9
10

In [26]:
for a,b,c in newlist:
    print(a, b, c)

1 2 3
5 6 7
8 9 10

In [27]:
# ITERATING THROUGHA DICTIONARY

d = {'k1':1, 'k2': 2, 'k3': 3} 

for item in d:
    print(item)
    
# notice that the default for iterating through a dictionary only iterates through the keys

# need to vall .items to get the key value pairs
# ALSO can use tuple unpacking instead AS shown in next cell:

k1
k2
k3

In [28]:
for key,value in d:
    print(key, value)

k 1
k 2
k 3

In [29]:
for key,value in d:
    print(value)

1
2
3

In [30]:
for pairs in d.items():
    print(pairs)

('k1', 1)
('k2', 2)
('k3', 3)

In [31]:
# remember that dictionaries ar un-ordered, so there's no guaruntee you will get them returned in the order that you put them in

WHILE LOOPS:

while loops will cotninue to execute a block of code while some condition is true

For example:
while my pool is'nt full, keep filling my pool with water

or while my dogs are still hungry, keep feeding my dogs



SYNBTAX of a WHILE LOOP

   while some_boolean_condition:
       # do some action
   else:
       # do something different

In [35]:
# further exploring while loops:

x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x+1
else:
    print('X IS NOT LESS THAN 5')

    
# REMEMBER: YOU CAN ACCIDENTALLY MAKE INFININTE WHILE LOOPS
# CAN PRESS INTERRUPT OR RESTART IN THE KERNEL 
# SOMETIME INTERRUPT WON:T WORK BECAUSE THE WHILE LOOP IS CONSUMING TOO MUCH OF YOUR COMPUTING POWER

# can also write x = x + 1 as x += 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X IS NOT LESS THAN 5

CRUCIAL KEYWORDS WHEN WORKING WITH LOOP:

break:

Breaks out of the current closest enclosing loop

continue:

continue goes to the top of the closest enclosing loop

pass:

pass does nothing at all

In [37]:
# working with pass keyword

x = [1,2,3]

for item in x:
#     can't just fill a loop with acomment, it will still throw a syntax error
# what you can do is run a pass keyword to avoid the error while you are building out your code

    pass
print('passing for loop right now')

passing for loop right now

In [39]:
# working with cotinue keyword, next 2 cells

mystring = 'Sammy'

for letter in mystring:
    print(letter)

S
a
m
m
y

In [40]:
# say we want to avoid a particular character when we iterate through our string
# we can use the continue keyword to do that:

mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [41]:
# working with break keyword, using code from above

mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [42]:
# breaks are particularly useful with while statements, see in next 2 cells:

x = 0

while x < 5:
    print(x)
    x +=1

0
1
2
3
4

In [43]:
# now using break with a while loop

x = 0

while x < 5:
    if x ==2:
        break
    print(x)
    x +=1

0
1

USEFUL OPERATORS IN PYTHON:

THERE ARE SOME ADDITIONAL BUILT IN FUNCTIONS AND OPERATOR KEYWORDS THAT ARE PARTICULARLY USEFUL:

In [45]:
# RANGE FUNCTION IS SUPER USEFUL

"""
CAN USE RANGE TO ITERATE THROUGH A RANGE IN AN OBJECT SUCH AS AN INDEX
"""

# example of iterating through with a range keyword:

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [46]:
# say we want to sepcify a starting position for our range function:

# example of iterating through with a range keyword:

for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [47]:
# say we want to sepcify a starting position for our range function:

# we can also adjust our step size, as we iterate through by adding a third parameter to the range function

# example of iterating through with a range keyword:

for num in range(3,10, 2):
    print(num)

3
5
7
9

In [48]:
# notice that if you just call a range function, it will provide you with a less than useful output,

# this is because the range function is a generator, it is not going to give you a basic object

range(0, 11, 2)

range(0, 11, 2)

In [49]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [50]:
# a generator is really just a special type of function that generates data rather than saving it to memory

In [52]:
# NOW DISCUSSING THE ENUMERATE FUNCTION:

# below is a super common kind of iterating function
# it is such a common use case for a loop that the keyword enumerate has been built to just fill the role for sake of efficiency:
# basically if you want some sort of counter while looping, you would use enumerate

index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [53]:
# A breakdown of what enumerate does without the keyword itself:

index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [57]:
# here's the same output but using enumerate

word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [58]:
# notice thatenumerat ebasically gives us the index count and corresponding letter in tuples
# we can then use tuple unpacking accordingly if desired:

# here is the same example but using tuple unpacking when printing outputs:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

NOW DISCUSSING THE ZIP FUNCTION IT;S ALMOST LIKE AN OPPOSITE TO THE ENUMERATE FUNCTION:

BASICALLY IT CAN ZIP TOGETHER 2 or more LISTS:

In [62]:
# WORKING WITH THE ZIP FUNCTION

mylist1 = [1,2,3]

mylist2 = ['a', 'b', 'c']

# notice that if we just run zip, we don;t get any displayed output:
# it just gives you the location of the zipped output in your computer memory

zip(mylist1, mylist2)

In [63]:
# here's how to see the output of a zip function when zipping:
# notice that it provides backa. list of tuples!!!


mylist1 = [1,2,3]

mylist2 = ['a', 'b', 'c']

for item in zip(mylist1, mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [64]:
# example of zipping together 3 lists:

mylist1 = [1,2,3]

mylist2 = ['a', 'b', 'c']

mylist3 = [100, 200, 300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [65]:
# here's what happens if you zip together lists that are uneven:

# basically it only zips together to the length of the hsortest list and ignores everything extra:

mylist1 = [1,2,3]

mylist2 = ['a', 'b', 'c']

mylist3 = [100, 200, 300, 400, 500]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [66]:
# can also zip together lists without iterating, and you will get a list of tuples output directly:

list(zip(mylist1, mylist2, mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

NOW DISCUSSING IN OPERATOR:

you can use in during a for loop obviously, but you can also use it to quickly check if an object is in a list, a string, or a dictionary (only works for keys though unless you explicitly call the items or value functions) and the function will return a boolean:

In [68]:
'x' in [1,2,3]

False

In [69]:
'x' in ['x', 'y', 'z']

True

In [70]:
'a' in 'a world'

True

In [71]:
'mykey' in {'mykey': 345}

True

In [73]:
# checking for a value in a dictionary (NOT A KEY)

d = {'mykey': 345}

345 in d.values()

True

SOME SUPER USEFUL MATHEMATICAL FUNCTIONS:

MIN OR MAX FUNCTIONS

THE RANDOM LIBRARY

In [74]:
# Using th e iminimum funcion:

mylist = [1,2,500,400,3]

min(mylist)

1

In [75]:
max(mylist)

500

In [76]:
# THE RANDOM LIBRARY
# THIS IS A BUILT IN LIBRARY

# WE WILL IMPORT THE LIBRARY / OR IMPORT FUNCTIONS FROM THE LIBRARY

In [77]:
# importing a function from the random libnrary:
# press tab to see the list of what you can import from the called library

# we will import shuffle:

from random import shuffle

In [80]:
# the shuffle funcion will reandomly shuffle around any list:

listtobeshuffled = [1,2,3,4,5,6,7,8,9,10]

# the shuffle function itself doesn't return anything, it operates in place on the given list)

shuffle(listtobeshuffled)

# notice that this list is now shuffled

listtobeshuffled

[10, 5, 4, 3, 6, 8, 2, 9, 7, 1]

In [82]:
#  we can use the randint function from the random library to grab a random integer:


# importing the randint function
from random import randint

# to use randint you pass in a lower range and an upper range for the randint to range within:

randint(0,100)

34

In [84]:
# here's an example os saving a randint output to a variable in this case so we can later use it

mynum = randint(0,10)

In [85]:
mynum

7

INPUT FUNCTION:

USING THEN INPUT FUNCTION WE CAN ACCEPT USER INPUT WITH EASE:

JUST CALL THE INPUT FUNCTION, NO NEED TO IMPORT


keep in mind that the inpuit function ALWAYS returns a string, so you need to be mindful of data typing

In [87]:
# USING THE INPUT FUNCTION:

input('ENTER A NUMBER HERE')

ENTER A NUMBER HERE 5

'5'

In [88]:
user_input = input('ENTER A NUMBER HERE')

user_input

ENTER A NUMBER HERE 5

'5'

In [89]:
user_input

'5'

In [90]:
# checking data type (quotes in above output shjould give it away)

type(user_input)

str

In [93]:
# converting user input to an integer data type

int(user_input)

5

In [94]:
# converting user input to an float data type

float(user_input)

5.0