SECTION 3.12 (PYTHON NUMBERS)

In [1]:
2*2

4

In [2]:
3/2

1.5

Discussing Module or "Mod" Operator

imagine you want to just know the remainder or a division, you use the % sign to do that

nice for checking if numbers are easily divisble or if they are even or odd

In [3]:
50%5

0

In [4]:
7%4

3

In [6]:
# check if a number is even with a module operator of 2

a = 4

a%2

0

You calculate exponents with **

In [8]:
2 ** 3

8

Order of operations is integrated into python, so make sure to use parentheses when needed

In [9]:
(2+10) * (5+7)

144

SECTION 14 (Variable assignment)

In [10]:
a =5

In [11]:
a

5

In [12]:
a

5

In [13]:
a = 10

In [14]:
a

10

In [17]:
# showing dynamic typing here
a = 10.5

In [18]:
type(a)

float

In [19]:
a + a

21.0

In [20]:
a = 5

In [21]:
a + a

10

In [22]:
a = a + a

In [23]:
a

10

In [25]:
# example of performing logic with variable names

my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

my_taxes

10.0

Indexing and slicing with Strings:

In [1]:
mystring = "Hello World"

mystring

'Hello World'

In [12]:
# playing with indexing for grabbing certain characters in the string based on index position:

# remember that you can use positive or negative index pisitions:

mystring[0]

'H'

In [6]:
mystring[8]

'r'

In [7]:
mystring[9]

'l'

In [10]:
# using reverse indexing here:

mystring[-2]

'l'

SLICING DISCUSSED HERE:

SO WE ARE SLICING SECTIONS OF A STRING RATHER THAN INDIVIDEUAL CHARACTERS

In [13]:
new_string = 'abcdefghijk'

new_string

'abcdefghijk'

In [14]:
# say we want to grab a section of the string that starts at a aprticular index and goes all the way to the end:
# notice that [:] can be used to indicate a range, if you give [index:] it goes all the way to the end, can use in reverse too like [:index]

new_string[2:]

'cdefghijk'

In [15]:
new_string[:3]

# NOTE THAT THE STOP INDEX GOES UP TO BUT DOES NOT INCLUDE THE STATED INDEX POSITION

'abc'

In [16]:
 # Combining start and stop indexes to grab a satring in the middle:
    
new_string[3:6]

'def'

In [19]:
new_string[1:3]

'bc'

In [20]:
new_string[-4: -2]

'hi'

In [21]:
# discussing step size here:

new_string[::]

'abcdefghijk'

In [22]:
# STEP SIZE EXAMPLE HERE: can combine step size jumps with starts / stops as well
# [::] basically just means grab everything from begginning to end

# this format allows you to jump in steps like this:

new_string[::2]

'acegik'

In [23]:
new_string[::3]

'adgj'

In [24]:
# using step size to reverse a string:

new_string[::-1]

# this is telling python to go take a backward step throughout the entire strig length, meaning that it ends up in reverse order

'kjihgfedcba'

In [26]:
# additional tidbit from exercise:

# you don't need to assign a string a variable name to index it: Here's an example of indexing a string directly

'this is is not practical'[8]

'i'

In [27]:
'this is is not practical'[::-1]

'lacitcarp ton si si siht'

In [28]:
'this is is not practical'[-9:]

'practical'

STRING PROPERTIES OVERVIEW:

In [30]:
# String property: Immutability

name = "Sam"

In [32]:
# since strings are immutable, string objects don't support item assignment
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [33]:
# what we can do to change a string is concatenate it with another string
# still trying to change name to pam
last_letters = name[1:]

last_letters

'am'

In [35]:
# EXAMPLE OF STRING CONCATENATION: 
'P' + last_letters

'Pam'

In [39]:
# more concatenation examples (you don't need to assign variables to do this)

x = 'Hellow World'

y = 'Good Fucking Morning'

x + ' ' + y

'Hellow World Good Fucking Morning'

In [42]:
#  You can concatenate with multiplication as well:

c = 'all work and no play makes jack a dull boy '

c * 10

'all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy all work and no play makes jack a dull boy '

In [49]:
# Going over more useful methods below:

z = 'hello world'

# now you can reference this with its variable name, add . then hit tab and you get a running list of methods

In [50]:
z.upper()

# the parentheses here are what executes the method
# without the parentheses, it just tells ,you what the function / method is

'HELLO WORLD'

In [52]:
z

# notice that the method does not change the original variable unless explicitly reassigned

'hello world'

In [53]:
z.lower()

'hello world'

In [55]:
# notice that the split method makes a list based on white space or a passed in chracter

z.split()

['hello', 'world']

In [69]:
# more play with .split()

w = 'pop drim dark duggy'

w.split()

['pop', 'drim', 'dark', 'duggy']

In [70]:
w.split('d')

['pop ', 'rim ', 'ark ', 'uggy']

In [72]:
w.split('r')

['pop d', 'im da', 'k duggy']

In [74]:
# this one is interesting: notice how it splits for the first section
w = 'drim dark duggy'

w.split('d')

['', 'rim ', 'ark ', 'uggy']

REVIEWING FAQS FOR STRINGS:

Are strings mutable?
    NO strings are not mutable, this means that you can;t use indexing to change individual elements of a string

NEXT TOPIC: String Formatting For Printing

- you will often want to "inject" a variable into your string for printing

example of string injection:

user_name = "Jose"

print("Hello" + user_name)

- there are multiple ways to format strings for printing variable in them
- this process is STRING INTERPOLATION

In [76]:
user_name = "Jose"

print("Hello " + user_name)

Hello Jose

String interpolation is just a fancy way of saying we are going to stick a variable into a string

there are two main methods for this:

.format() method

f-strings (stands for: formatted string literals)

In [78]:
# .format() method syntax

# 'String here {} then also {}'.format('injection1', 'injection2')

# notice that this format uses curly braces as placeholders for the injection of variables

In [80]:
# .format() example:

print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [81]:
# We can insert via index position with .format()

"""
think about it, we are using a list and the list is 
then used to inject our list items into the correpsonding 
index value within the string, dictated by {}
"""

print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [82]:
"""
using index positions of this list above, 
we will reorder the string injection 
to make grammatical sense:
"""

print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [83]:
# additonal play for understanding of indexing with .format

print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

CAN ASSIGN KEYWORDS TO LIST SO WE DON'T HAVE TO USE INDEX POSITION:

In [85]:
print('The {f} {b} {q}'.format(f = 'fox', b = 'brown', q = 'quick'))

The fox brown quick

In [86]:
print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

The quick brown fox

FLOAT FORMATTING WITH .format method

using the .format method for a floating point number allows us to adjust the width and precision of the float


syntax for .format with floats:

"{value:width.precision f}"
 
the value is the value name 

width value dictates the amount of white space around your printed info

the precision is really what you will care about

In [88]:
result = 100 / 777
result

0.1287001287001287

In [96]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [97]:
print("The result was {r}".format(r = result))

The result was 0.1287001287001287

In [105]:
# here we can use .format to clean up the result to less decimal places
print("The result was {r:1.5f}".format(r = result))

# looks like the f just adds a zero

The result was 0.12870

In [106]:
print("The result was {r:1.5}".format(r = result))

The result was 0.1287

REVIW: FORMATTED STRING LITERALS< was added in python 3.6

basically f-strings allow you to skipe the .format step

In [107]:
name = "Jose"

In [109]:
# the old method ( .format() )
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [114]:
# f-string method, just more strategies for string interpolation

"""
notice that it's really just a convenience improvement

you write the variable name directly in the curly braces 


it will work with multiple variables as well just like .format()
"""

print(f'Hello, his name is {name}')

age = 20

print(f'{name} is {age} years old')

Hello, his name is Jose
Jose is 20 years old

LISTS IN PYTHON

Lists are order sequences that can hold a variety of object types

Just like strings, they support indexing and slicing

In [29]:
my_list = [1, 2, 3]

In [30]:
my_list

[1, 2, 3]

In [31]:
# notice that lists can hold multiple data types

my_list = ['STRING', 10, 23.2]

In [32]:
len(my_list)

# len returns how many items are in the list

3

In [33]:
# because a list is an ordered seuqnece of elements, we c an use slicing or indexing


my_list = [1, 2, 3]

my_list[0]

1

In [34]:
my_list[1:]

[2, 3]

In [35]:
my_list[::-1]

[3, 2, 1]

In [36]:
# can concatenate lists together

another_list = ['four', 'five']

new_list = my_list + another_list

new_list

[1, 2, 3, 'four', 'five']

LISTS ARE MUTABLE (CAN MUTATE THEM), UNLIKE WITH STRINGS:

In [37]:
new_list

[1, 2, 3, 'four', 'five']

In [38]:
# example of mutating a list (changing it)

new_list[0] = 'BIG FUCKING CHANGE'

new_list

['BIG FUCKING CHANGE', 2, 3, 'four', 'five']

In [39]:
# adding an element to the end of a list: using append here

new_list.append('six')

new_list

['BIG FUCKING CHANGE', 2, 3, 'four', 'five', 'six']

In [40]:
new_list.append('seven')

new_list

['BIG FUCKING CHANGE', 2, 3, 'four', 'five', 'six', 'seven']

In [41]:
# using POP method here, it pops off an item from the end of a list

new_list.pop()

'seven'

In [43]:
# notice that new_list no longer has the seven at the end because we popped it off

new_list

['BIG FUCKING CHANGE', 2, 3, 'four', 'five', 'six']

In [44]:
# can save a popped item accordingly:

new_item = new_list.pop()

In [45]:
new_item

'six'

In [47]:
new_list.pop(0)

'BIG FUCKING CHANGE'

In [49]:
new_list

[2, 3, 'four']

In [50]:
new_list = ['a', 'e', 'x', 'b', 'c']

num_list = [4, 1, 8, 3]

In [53]:
# notice that this sorts the list in place and sorted it in alphabetical order. It didn;t actually return anything

new_list.sort()

In [54]:
new_list

['a', 'b', 'c', 'e', 'x']

In [56]:
# notice that is we try assiging the sorted list to anew variable, it won;t return any data, because it sorted new_list in place rather than providing any new list

new_list_sorted = new_list.sort()

new_list_sorted

In [57]:
type(new_list_sorted)

NoneType

In [58]:
num_list.sort()

num_list

[1, 3, 4, 8]

In [61]:
# discussing reverse method now, this operates in placve just like sort

num_list.reverse()

num_list

[8, 4, 3, 1]

DISCUSSING DICTIONOARIES NOW

ARE UNOREDERED MAPPINGS FOR STORING OBJECTS

DICTIONARIES USE KEY-VALUE PAIRING AS AN ALTERNATIV E TO ORDERED SEQUENCING

DICTIONARY SYNTAX:

{'key1': 'value1', 'key2': 'value2'}

In [65]:
# basically you trade ease of navigation (via key pairs) for the ability to order or sequence that you would get with a list)

my_dict = {'key1': 'value1', 'key2': 'value2'}

my_dict['key1']

'value1'

In [68]:
prices_lookup = {'apple':2.99, 'oranges':1.99, 'milk':5.80}

In [69]:
prices_lookup['apple']

2.99

In [72]:
# remember that dictionaries can hold lists or other dictionaries

d = {'k1':123, 'k2': [0, 1, 2], 'k3': {'insidekey':100}}

In [76]:
d['k2']

[0, 1, 2]

In [79]:
d['k2'][2]

2

In [77]:
d['k3']

{'insidekey': 100}

In [78]:
d['k3']['insidekey']

100

In [80]:
new_dict = {'k1': [1, 2, 3]}
    
my_list = new_dict['k1']

my_list

[1, 2, 3]

In [81]:
# adding new values to a dicionary

d = {'k1': 100, 'k2': 300}

In [82]:
d['k3'] = 300

In [83]:
d

{'k1': 100, 'k2': 300, 'k3': 300}

In [84]:
# use the same method for adding a new dictionary value to overwirt ean old value

d['k1'] = 'FUCK'

In [85]:
d

{'k1': 'FUCK', 'k2': 300, 'k3': 300}

In [88]:
# this is how you see all the keyas

d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [90]:
#  this is how you see all the values
d.values()

dict_values(['FUCK', 300, 300])

In [91]:
# this is how you see the entire dicitonary

d.items()

dict_items([('k1', 'FUCK'), ('k2', 300), ('k3', 300)])

In [92]:
# key value pairs are basically just a tuple

TUPLES IN PYTHON:

Tuples are very similar to Lists, but tuples are IMMUTABLE

once an element is inside a tuple, it cannot be reassigned

Tuple syntax:

you use parentheses: (1, 2, 3)

In [2]:
# Keep in mind that tuples function ina. very simkilar way to lists

mytuple = (1,2,3)

In [3]:
mylist = [1,2,3]

In [4]:
type(mytuple)

tuple

In [5]:
type(mylist)

list

In [6]:
len(mytuple)

3

In [8]:
# it's fine to mix obnject types in a tuple just like with a list, you can also slice and index like with lists

tuple = ('one', 2)

In [10]:
tuple[0]

'one'

In [11]:
t = ('a', 'a', 'b')

In [12]:
t.count

In [15]:
t.count('a')

2

In [16]:
t.index('a')

0

In [17]:
t.index('b')

2

In [19]:
# WHAT MAKES A TUPLE DIFFERENT FROMA LIST: IMMUTABILITY

mylist[0] = 'new'

In [21]:
# this should throw an error because tuples are immutable

mytuple[0] = 'new'

TypeError: 'tuple' object does not support item assignment

In [22]:
# tuples are really useful later on in programming, especially when you are passing around objects in your program and want to make sure that your data types don;t change (that they maintain data integrity)

SETS IN PYTHON:

Sets are unordered collections of unique elements 

Meaning there can only be one representative of the same object

you can use this on strings, lists or whatever really

myset = set()

In [24]:
myset

set()

In [25]:
myset.add(1)

In [26]:
myset

{1}

In [28]:
# notice that the set looks like a dictionary, it is NOT, has no key-value pairs

myset.add(2)

In [29]:
myset

{1, 2}

In [30]:
myset.add(2)

In [31]:
myset

{1, 2}

Notice that it only accepts unique values!!

you can cast a list to a set though to only get unique values, super useful for EIA data

In [34]:
mylist = [1,1,3,4,5,5,5,7,8,8]

newset = set(mylist)

newset

{1, 3, 4, 5, 7, 8}

In [35]:
# can also convert a set back into a list!!!!! this is fucking sick

list(newset)

[1, 3, 4, 5, 7, 8]

BOOLEANS:
    
    Booleans are operators that allow you to convery True or False statements
    
    these ar every important later on for control flow and conditional logic
    
    
    
    Booleans are either True or False (case-sensitive)

In [36]:
True

True

In [37]:
False

False

In [38]:
true

NameError: name 'true' is not defined

In [39]:
false

NameError: name 'false' is not defined

In [40]:
type(True)

bool

In [41]:
type(False)

bool

In [45]:
# comparison operators like > < ==, = all return booleans

1>2

False

In [46]:
1 == 1

True

In [47]:
1 == 3

False

In [48]:
# can use None as a placeholder and then it won;t throw an error

b

NameError: name 'b' is not defined

In [49]:
b = None

In [51]:
b

INPUT / OUPUT WITH BASIC FILES IN PYTHON

WILL SHOW HOW TO DO BASIC I/O WITH A .TXT FILE THIS WILL BE VERY RELEVANT FOR MORE ADVANCED FUNCTIONALITY LATER ON

In [54]:
%%writefile myfile.txt
Hello this is a shortcut for writing a text file in Jupyter lab
it Only works in a jupyter notebook

Writing myfile.txt

In [55]:
"""
STEP 1: CREATE A TXT FILE up above

you cannot include comments when usng the command up abovew with the %%, it will throw an error
"""

'\nSTEP 1: CREATE A TXT FILE up above\n\nyou cannot include comments when usng the command up abovew with the %%, it will throw an error\n'

In [57]:
# how to open a file

myfile = open('myfile.txt')

In [58]:
# what it looks like to open a non-existent file, you will get error number 2

myfile = open('whoops.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [61]:
pwd

'/Users/raymondhurst/Desktop/UDEMY_Python/2022_Complete_Bootcamp'

In [62]:
# can use command lines for file locating I guess, but can;t include comments

In [63]:
myfile = open('myfile.txt')

In [64]:
# several methods I can use off of myfile

myfile.read()

'Hello this is a shortcut for writing a text file in Jupyter lab\nit Only works in a jupyter notebook\n'

In [66]:
"""
notice that if you try to read the file again you receive an empty string, 

this is because you basically have a cursor that reads across the file, and that cursor is already at the end of the file, so we need to reset it

for this we use myfile.seek(0)to reset the "cursor"
"""

'\nnotice that if you try to read the file again you receive an empty string, \n\nthis is because you basically have a cursor that reads across the file, and that cursor is already at the end of the file, so we need to reset it\n\nfor this we use myfile.seek(0)to reset the "cursor"\n'

In [67]:
myfile.read()

''

In [68]:
myfile.seek(0)

0

In [69]:
myfile.read()

'Hello this is a shortcut for writing a text file in Jupyter lab\nit Only works in a jupyter notebook\n'

In [70]:
myfile.seek(0)

0

In [71]:
# this method reads each line as a list where each element represents a line, (still have \n that represent new lines)

myfile.readlines()

['Hello this is a shortcut for writing a text file in Jupyter lab\n',
 'it Only works in a jupyter notebook\n']

In [72]:
"""
to open a file at any location ona c omputer, you provide the absolute path (the entire path)

for macOS we use forward slashes //
"""

'\nto open a file at any location ona c omputer, you provide the absolute path (the entire path)\n\nfor macOS we use forward slashes //\n'

In [73]:
pwd

'/Users/raymondhurst/Desktop/UDEMY_Python/2022_Complete_Bootcamp'

In [74]:
# THE PWD above is a great example of an absolute path

In [75]:
# remember, we need to close any files we opened. Python is using this file, so we need to manually close it

In [78]:
# to close a file, do this:

myfile.close()

In [81]:
# can also open a file using the with statment and creating a function, this allows me to not have to worry about closing the file

with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [82]:
contents

'Hello this is a shortcut for writing a text file in Jupyter lab\nit Only works in a jupyter notebook\n'

In [83]:
# we can also read and write to files

with open ('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

In [84]:
contents

'Hello this is a shortcut for writing a text file in Jupyter lab\nit Only works in a jupyter notebook\n'

In [86]:
"""
notice here that we can't read to a file since we are using the write (w) mode
"""

with open ('myfile.txt',mode='w') as myfile:
    contents = myfile.read()

UnsupportedOperation: not readable

In [87]:
"""
can use w to write over files, 
r = read files, 
a is equal to appending files, 
mode r+ is for reading and writing, 
w+ is for writing and reading
"""

'\ncan use w to write over files, \nr = read files, \na is equal to appending files, \nmode r+ is for reading and writing, \nw+ is for writing and reading\n'

In [96]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [97]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [98]:
# here I am appedning another line

with open('my_new_file.txt', mode = 'a') as f:
    f.write('FOUR ON FOURTH')

In [99]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [101]:
# here I am writing
# you can create files this way, they don;t have to have existed already

with open('egsdfgbdfxgcv sbdfgabh.txt', mode = 'w') as f:
    f.write('I created this file')

In [103]:
with open('egsdfgbdfxgcv sbdfgabh.txt', mode = 'r') as f:
    print(f.read())

I created this file